h1{
  text-align: center;
}


nav, ul{
  display: flex;
  flex-wrap: nowrap;
  flex-basis: 100%;
}

nav > ul > li{
  flex-grow: 1;
}


main ul{
    display: flex;
    flex-wrap: wrap;
}

main li{
    flex-basis: 100%;
}

main{
    display: flex;
}

#mainPage{
    display: flex;
    flex-wrap: wrap;
    margin: 1%;
}

#mainPage > h2 {
    flex-basis: 100%;
}
#mainPage > article{
    flex-basis: 45%;
    margin: 1%;
    padding: 1%;
}

aside{
    margin-right: 1vw;
}

footer{
    display: flex;
    flex-wrap: nowrap;
    padding: 1%;
}
footer > img{
    padding-right: 1vw ;
}










