/* le menu de navigation */
h1{
    text-align: center;
}

main{
    display: flex;
}

nav, ul{
    display: flex;
    flex-wrap: nowrap;
    flex-basis: 100%;
}
  
nav > ul > li{
    flex-grow: 1;
}

main > div{
    flex-wrap: wrap;
    text-align: center;
}
section{
    display: flex;
}

article{
    flex-grow: 1;
}

article > img {
	width: 10vw;
	height: auto;
}

footer{
    display: flex;
    flex-wrap: nowrap;
    padding: 1%;
}
footer > img{
    padding-right: 2vw ;
}
 main{
     margin: 5vh 20vw 0 20vw;
}

section{
     margin: 0 5vw 0 0;
}

article{
    text-align: center;
}

div > img{
    width: 50vw;
    height: auto;
}