h1, h2, h3, h4{
    color:rgb(2, 2, 133);
}

h1{
    font-size: 3em;
}
    
nav > ul li{
    list-style-type:none;
}

footer > img{
    width: 1em;
    height: 1em;
}

#mainPage article{
    background-color: rgb(126, 219, 255);
}

footer, header{
    background-color: gainsboro;
}
